body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg,#0f172a,#1e293b);
  color: white;
  text-align: center;
}

.screen {
  display: none;
  padding: 20px;
}

.active {
  display: block;
}

button {
  padding: 10px;
  margin: 5px;
  width: 200px;
  border-radius: 10px;
  border: none;
  background: #3b82f6;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #2563eb;
}

input, textarea, select {
  width: 80%;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
}

.back {
  background: #ef4444;
}

canvas {
  background: white;
  width: 300px;
  height: 200px;
}
